<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bank Of ILP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Common/CommonStyle.css" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" />



    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div class="container">

        <p></p>

        <div class="navbar">
            <p></p>

            <a class="active" asp-controller="Home" asp-action="Index">Welcome to the ILP Bank </a>
            <partial name="_LoginPartial" />
            <p></p>
        </div>
        <br />

        <div class="navbarfirstchild">

            @if (User.IsInRole("CustomerExecutive") || User.IsInRole("AccountExecutive") || User.IsInRole("Admin"))
            {
                <a asp-controller="Customer" asp-action="Index">Customer Menu</a>
                <a asp-controller="Account" asp-action="Index">Account Menu</a>
            }
            @if (User.IsInRole("Teller") || User.IsInRole("Cashier") || User.IsInRole("Admin"))
            {
                <a asp-controller="Transactions" asp-action="Index">Transactions Menu</a>

            }
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Error" asp-action="Index">Error Log</a>
            }
        </div>

        <br />




        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>


    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notify.min.js" asp-append-version="true"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
